*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
#mainBody{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(171, 25, 171),rgb(240, 199, 240));
    display: flex;
    justify-content: center;
    align-items: center;
}
.nameBox{
    width: 50%;
    /* border: 3px solid white; */
}
.nameBox>h1{
    color:white;
    font-size: 150px;
}
.nameBox>p{
    color: white;
    font-size: 40px;
}
nav{
    width: 6vw;
    height: 60vh;
    /* background: black; */
    /* border: 2px solid; */
    position: fixed;
    left: 20px;
}
nav>div{
    border: 1px solid snow;
    width: 4vw;
    height: 4vw;
    background: white;
    border-radius: 50%;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav>div>a>i{
    color: black;
    font-size: 30px;
}
.aboutSection{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutSection>main{
    width: 80%;
    height: 80%;
    border: 2px solid;
    display: flex;
}
.aboutSection>main>article{
    width: 50%;
    height: 100%;
    border: 3px solid red;
}